@import "tailwindcss";

@theme {
  --color-bg: #FFF5EC;
  --color-nav-bg: #F9DEC9;
  --color-text: #0A0908;
  --color-bordeaux: #49111C;
  --color-rosa: #F5B0B7;
  --color-rosa-escuro: #BD6B73;
  --color-castanho: #5E503F;
}

@layer base {
  body {
    @apply box-border bg-bg text-text antialiased;
  }

  h1 {
    @apply text-4xl font-bold text-bordeaux tracking-tight;
  }

  input {
    @apply border-2 border-castanho/30 focus:outline-none focus:border-bordeaux bg-white/50 backdrop-blur-sm transition-all;
  }

  /* Aplica apenas aos teus botões e navs normais, NÃO aos botões do calendário */
  button:not(.rdp-root *):not(.rdp-root) {
    @apply rounded-2xl cursor-pointer p-2 bg-bordeaux hover:bg-bordeaux/90 active:scale-95 transition-all duration-1000;
  }

  nav:not(.rdp-root *):not(.rdp-root) {
    @apply absolute top-0 w-screen flex py-1 px-2 justify-center items-center box-border h-17 bg-nav-bg/80 backdrop-blur-md z-50;
  }

  .main-nav {
    @apply mt-20;
  }

  .full-centered-flex {
    @apply flex justify-center items-center bg-bg;
  }

  .centered-col {
    @apply flex flex-col items-center;
  }

  .centered-flex {
    @apply flex justify-center items-center;
  }
}