@import "tailwindcss";
@import "react-day-picker/dist/style.css";

:root {

}

@layer base {
  body {
    @apply box-border
  }

  h1 {
    @apply text-4xl font-bold text-gray-700 m-3
  }

  input {
    @apply border-2 border-black m-2
  }

  button {
    @apply rounded-2xl cursor-pointer p-2
    bg-amber-200 
    hover:bg-amber-100 transition-all duration-1000
  }

  nav {
    @apply absolute top-0 w-screen flex py-1 px-2 justify-center box-border h-17
  }

  .main-nav {
    @apply mt-20
  }

  .full-centered-flex {
    @apply flex justify-center items-center bg-zinc-50
  }

  .centered-col {
    @apply flex flex-col items-center 
  }

  .centered-flex {
    @apply flex justify-center items-center
  }


  
  .rdp-nav {
    max-width: 100%;
    pointer-events: none;
  }

  .rdp-month_caption, .rdp-caption {
    display: flex ;
    justify-content: center ;
    align-items: center ;
  }

  .rdp-button_previous {
    position: absolute !important;
    left: 0px ;
    top: 50% ;
    transform: translateY(-50%) ;
  }
  
  .rdp-button_next {
    position: absolute !important;
    right: 0px ;
    top: 50% ;
    transform: translateY(-50%);
  }
}
